@charset "UTF-8";

fieldset#notice {
  /* border: 1px solid green; */
  /* 	border-radius: none; */
  border: 10px solid transparent;
  width: 100%;
  height: 50vh;
  padding: 40px;
  text-align: center;
}
div.cate_body input button {
  background-color: #036635;
}
/* style을 이렇게 지정하면 모든 h1에 공통 적용이 됩니다 */
h1#notice {
  color: #036635;
  font-weight: 100;
  text-decoration: 2px;
}

/* 아래처럼 누구 page의 table 인지 명시해주어야 합니다 */
/* 모든 페이지에서 같은 id가 없도록 작성해야 하구요 */
table#notice {
  /* 	border: 1px solid green; */
  border-spacing: 0;
  width: 90%;
  margin: 0 auto;
  font-size: 10px;
}

table#notice th,
td {
  border-top: 1px solid #aaa;
  padding: 5px 8px;
  text-align: center;
}

table#notice td {
  margin-left: 30px;
}

tablec#notice tr:last-child td {
  border-bottom: 1px soild #aaa;
}

table#notice tr,
td:nth-of-type(1) {
  width: 10px;
}

table#notice tr,
td:nth-of-type(2) {
  width: 100px;
}

table#notice tr,
td:nth-of-type(3) {
  width: 50%;
}

table#notice tr,
td:nth-of-type(4) {
  width: 10%;
}

table#notice tr,
td:nth-of-type(6) {
  width: 10%;
}

table#notice tr:last-child (odd) {
  border-bottom: 1px solid #ddd;
}

table#notice tr:last-child(even) {
  border-bottom: 1px solid #eee;
}

table#notice tr:hover {
  background-color: #aaa;
}

div.btn_box {
  width: 90%;
  margin: 5px auto;
  text-align: right;
}

#notice button {
  background-color: #036635;
  color: whitesmoke;
  outline: 0;
  border-radius: 10px;
}

#notice button:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
